version: '3'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3333:3333"
    volumes:
      - ./backend:/backend

  frontend:
    build:
      context: ./frontend
    depends_on:
      - backend
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/frontend